


.container {
    background: #FEF9FA;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Optional: Add padding for some spacing inside the container */
    box-sizing: border-box; 
}